{{ if type == 'teasers' }}
  {{ partial:fieldsets/teasers/container }}
{{ /if }}

{{ if type == 'editorial' }}
  {{ partial:fieldsets/editorial }}
{{ /if }}

{{ if type == 'interview' }}
  {{ partial:fieldsets/interview/container }}
{{ /if }}

{{ if type == 'title_text' }}
  {{ partial:fieldsets/title_text }}
{{ /if }}

{{ if type == 'title_text_sidebar' }}
  {{ partial:fieldsets/title_text_sidebar }}
{{ /if }}

{{ if type == 'statistics' }}
  {{ partial:fieldsets/statistics/container }}
{{ /if }}

{{ if type == 'partners' }}
  {{ partial:fieldsets/partners/container }}
{{ /if }}

{{ if type == 'accordion' }}
  {{ partial:fieldsets/accordion/container }}
{{ /if }}

{{ if type == 'events' }}
  {{ partial:fieldsets/events/container }}
{{ /if }}

{{ if type == 'membership' }}
  {{ partial:fieldsets/membership/container }}
{{ /if }}

{{ if type == 'gallery' }}
  {{ partial:fieldsets/gallery/container }}
{{ /if }}




