*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.claude/settings.local.json
/.fleet
/.idea
/.jarvis
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/content
/node_modules
/public/assets
/public/hot
/public/static
/public/storage
/public/vendor/statamic
/storage/*.key
/storage/pail
/users
/resources/users
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
INSTALL.txt