<footer class="bg-charcoal p-20 lg:p-30 xl:py-48 text-ivory">

  {{ partial:layout/container class="relative" }} 

    {{ partial:components/headings/h2 class="text-[1.25rem] md:text-[1.5rem] lg:text-[1.75rem] mb-16 md:mb-24" }}
      {{ "Kontakt" | trans }}
    {{ /partial:components/headings/h2  }}

    <div class="lg:flex lg:justify-between lg:items-end text-[1rem] xl:text-[1.125rem]">
      <div class="flex flex-col gap-y-16">
        {{ partial:components/headings/h3 }}
          {{ contact:name | nl2br }}
        {{ /partial:components/headings/h3 }}
        <address class="not-italic leading-[1.35]">
          {{ contact:address | nl2br }}
          <a 
            href="tel:{{ contact:phone }}"
            aria-label="{{ contact:phone }}"
            class="group block">
            T <span class="group-hover:underline decoration-1 underline-offset-4">{{ contact:phone }}</span>
          </a>
        </address>
      </div>

      <nav class="mt-32 lg:flex lg:flex-col lg:items-end lg:gap-y-12">
        <div class="absolute top-0 right-0 lg:relative">
          {{ partial:components/socials/linkedin }}
        </div>
        {{ nav:privacy }}
          <ul>
            <li>
              <a 
                href="{{ url }}" 
                aria-label="{{ title }}" 
                class="hover:underline decoration-1 underline-offset-4">
                {{ title }}
              </a>
            </li>
          </ul>
        {{ /nav:privacy }}
      </nav>
    </div>

  {{ /partial:layout/container }}

</footer>
