<header class="bg-ivory sticky lg:relative top-0 z-50 w-full p-20 lg:pb-0 lg:px-30 lg:pt-16 xl:pt-32 min-h-90">
  {{ partial:layout/container class="relative" }}
    
    {{ partial:menu/language/wrapper class="gap-x-24 text-lg absolute right-0 top-0 z-20 hidden lg:flex" }}

    <div class="flex items-center lg:justify-between w-full gap-x-15 relative lg:pt-32 _lg:pb-12 xl:pt-32 xl:pb-12">

      <a href="{{ site:short_locale == 'fr' ? '/fr' : '/' }}" class="block lg:hidden" aria-label="{{ 'Startseite' | trans }}">
        {{ partial:components/logos/logo class="w-86 h-auto " }}
      </a>

      {{ partial:components/headings/h1 class="text-3xl lg:text-9xl xl:text-11xl" }}
        Yearbook 2025
      {{ /partial:components/headings/h1 }}

      <a href="{{ site:short_locale == 'fr' ? '/fr' : '/' }}" class="hidden lg:block" aria-label="{{ 'Startseite' | trans }}">
        {{ partial:components/logos/logo-byline class="lg:w-280 xl:w-380 h-auto " }}
      </a>

      <div class="w-26 h-20 flex items-center justify-center lg:hidden absolute right-0 top-1/2 -translate-y-1/2">
        {{ partial:menu/buttons/show }}
        {{ partial:menu/buttons/hide }}
      </div>

    </div>

    {{ partial:menu/mobile/wrapper class="lg:!hidden" }}

    {{ partial:menu/desktop/wrapper class="hidden lg:block" }}

  {{ /partial:layout/container }}
</header>