{{ partial:layout/section }}

  <div class="grid grid-cols-12 gap-16 lg:gap-x-24 xl:gap-x-32">

    {{ if image }}
      <div class="col-span-12 lg:col-span-4">
        {{ partial:components/media/image
          :image="image"
          :sizes="['md', 'lg', 'xl', '2xl']"
          preset="md"
          class="w-full h-full aspect-4/3 md:aspect-[16/9] lg:aspect-[4/3] object-cover rounded-lg"
        }}
        <div class="mt-6 md:mt-12 text-[1.25rem] lg:text-[1.5rem]">
          {{ subtitle | nl2br}}
        </div>
      </div>
    {{ /if }}

    <div class="col-span-full lg:col-span-8">

      <h2 class="text-[2.25rem] lg:text-[3rem] leading-[1.2] hyphens-auto text-pretty mb-24 lg:mb-36">
        {{ title | nl2br}}
      </h2>

      <div class="text-pretty max-w-prose">
        {{ editor_content }}
      </div>

    </div>

  </div>

{{ /partial:layout/section }}
