{{ partial:layout/section }}

  <div class="grid grid-cols-12 gap-16 lg:gap-x-24 xl:gap-x-32">

    {{ if image }}
      <div class="col-span-full lg:col-span-4">
        {{ partial:components/media/image
          :image="image"
          :sizes="['md', 'lg', 'xl', '2xl']"
          preset="md"
          class="w-full h-auto rounded-lg"
        }}
      </div>
    {{ /if }}

    <div class="col-span-full {{ if image }}lg:col-span-8{{ /if }}">

      <h1 class="text-2xl md:text-6xl lg:text-9xl leading-[1.2] text-pretty mb-24 md:mb-36 lg:mb-48">
        {{ title }}
      </h1>

      {{ partial:layout/article class="text-pretty max-w-3xl" }}
        {{ partial:components/editor }}
      {{ /partial:layout/article }}

    </div>

  </div>

{{ /partial:layout/section }}
