{{ if title }}
  <h2 class="font-bold uppercase mb-16 lg:mb-20">
    {{ title }}
  </h2>
{{ /if }}

<div class="flex flex-col gap-y-8 lg:gap-y-16">

  {{ groups }}

    {{ if type == 'role_group' }}
      <div class="grid grid-cols-12 gap-y-2 md:gap-16 lg:gap-24 xl:gap-32 mb-12 lg:mb-16 last:mb-0">

        {{ if role }}
          <div class="col-span-full md:col-span-3">
            {{ role }}
          </div>
        {{ /if }}

        <div class="col-span-full md:col-span-9 flex flex-col gap-y-4 md:gap-y-8">
          {{ members }}
            <div>
              <strong>{{ name }}</strong>{{ if company }}, {{ company }}{{ /if }}
            </div>
          {{ /members }}
        </div>

      </div>
    {{ /if }}

  {{ /groups }}

  {{ if footnote }}
    <p class="mt-12 lg:mt-16">{{ footnote }}</p>
  {{ /if }}

</div>
