{{ partial:layout/section class="md:px-0!" }}
  {{ if gallery_title }}
    <div class="md:px-12 lg:px-24 xl:px-36">
      <h2 class="text-[1.5rem] md:text-[2.25rem] lg:text-[3.125rem] leading-[1.2] mb-24 md:mb-36 lg:mb-48">
        {{ gallery_title }}
      </h2>
    </div>
  {{ /if }}
  {{ if gallery_images }}
    <div data-gallery>
      <div data-gallery-outer class="swiper">
        <div class="swiper-wrapper">
          {{ gallery_images }}
            <div class="swiper-slide h-auto">
              <div class="bg-white rounded-xl overflow-hidden p-12 md:p-16 lg:p-24 pb-24 md:pb-28 lg:pb-32 h-full flex flex-col">
                {{ partial:components/media/image :image="id" sizes="md|lg|xl|2xl" class="w-full rounded-lg" }}
                {{ if caption_fr || caption_de }}
                  <div data-gallery-caption class="pt-12 md:pt-16">
                    {{ site:short_locale == 'fr' ? caption_fr : caption_de }}
                  </div>
                {{ /if }}
              </div>
            </div>
          {{ /gallery_images }}
        </div>
      </div>
      {{ partial:fieldsets/gallery/navigation }}
    </div>
  {{ /if }}
{{ /partial:layout/section }}
