{{ partial:layout/section class="md:px-0!" }}
  {{ if gallery_title }}
    <div class="md:px-12 lg:px-24 xl:px-36">
      <h2 class="text-[1.5rem] md:text-[2.25rem] lg:text-[3.125rem] leading-[1.2] mb-24 md:mb-36 lg:mb-48">
        {{ gallery_title }}
      </h2>
    </div>
  {{ /if }}
  {{ if galleries }}
    <div data-gallery>
      <div data-gallery-outer class="swiper">
        <div class="swiper-wrapper">
          {{ galleries }}
            {{ partial:fieldsets/gallery/item }}
          {{ /galleries }}
        </div>
      </div>
      {{ partial:fieldsets/gallery/navigation }}
    </div>
  {{ /if }}
{{ /partial:layout/section }}