<div class="swiper-slide">
  <div class="bg-white _p-40 rounded-xl overflow-hidden">
    <div class="gallery-inner swiper">
      <div class="swiper-wrapper">
        {{ gallery_images }}
          <div class="swiper-slide p-20">
            {{ partial:components/media/image :image="image" sizes="md|lg|xl|2xl" class="w-full" }}
          </div>
        {{ /gallery_images }}
      </div>
      {{ if gallery_images | count > 1 }}
        <div class="swiper-pagination !bottom-12"></div>
      {{ /if }}
    </div>
    {{ if gallery_caption }}
      <div class="px-20 pb-20">
        <p class="text-sm md:text-base">{{ gallery_caption }}</p>
      </div>
    {{ /if }}
  </div>
</div>