<div class="swiper-slide">
  <div class="bg-white rounded-xl overflow-hidden">
    <div data-gallery-inner class="swiper">
      <div class="swiper-wrapper">
        {{ gallery_images }}
          <div class="swiper-slide">
            {{ partial:components/media/image :image="image" sizes="md|lg|xl|2xl" class="w-full" }}
          </div>
        {{ /gallery_images }}
      </div>
      <div class="swiper-pagination hidden"></div>
    </div>
    {{ if gallery_caption }}
      <div class="p-20">
        <p class="text-sm md:text-base">{{ gallery_caption }}</p>
      </div>
    {{ /if }}
  </div>
</div>