{{ partial:layout/section }}

  <div class="grid grid-cols-12 gap-16 lg:gap-x-24 xl:gap-x-32">

    {{ if image }}
      <div class="col-span-full">
        {{ partial:components/media/image
          :image="image"
          :sizes="['md', 'lg', 'xl', '2xl']"
          preset="16x9"
          width="768"
          height="432"
          class="w-full h-auto rounded-lg"
        }}
      </div>
    {{ /if }}

    {{# Mobile #}}
    <div class="col-span-full lg:hidden">

      {{ if introduction }}
        <div class="my-24">
          {{ partial:fieldsets/interview/introduction }}
        </div>
      {{ /if }}

      {{ if logo }}
        <div class="hidden">
          {{ partial:fieldsets/interview/logo }}
        </div>
      {{ /if }}

      <div class="my-24">
        {{ partial:fieldsets/interview/heading }}
      </div>

      {{ if lead }}
        {{ partial:fieldsets/interview/lead }}
      {{ /if }}

      {{ content }}

        {{ if type == 'question_answer' }}
          {{ partial:fieldsets/interview/question class="mt-16" }}
        {{ /if }}
        
        {{ if type == 'quote' }}
          <div class="my-24">
            {{ partial:fieldsets/interview/quote }}
          </div>
        {{ /if }}

        {{ if type == 'statistic' }}
          <div class="my-24">
            {{ partial:fieldsets/statistics/item class="inline-block w-auto" }}
          </div>
        {{ /if }}

      {{ /content }}

    </div>

    {{# Desktop: group #}}
    {{ if interview_type == 'group' }}

      {{# Introduction + Logo row #}}
      {{ if introduction || logo }}
        <div class="hidden lg:flex lg:items-center lg:col-span-5 mt-16 lg:mt-24 lg:mb-32 xl:mb-48">
          {{ if introduction }}
            {{ partial:fieldsets/interview/introduction }}
          {{ /if }}
        </div>

        <div class="hidden lg:flex lg:items-center lg:col-span-7 mt-16 lg:mt-24 lg:mb-32 xl:mb-48">
          {{ if logo }}
            {{ partial:fieldsets/interview/logo class="max-w-xs mx-auto" }}
          {{ /if }}
        </div>
      {{ /if }}

      {{# Left column: title, quotes #}}
      <div class="hidden lg:flex lg:flex-col lg:col-span-5 lg:gap-y-36 relative xl:pr-24">
        {{ partial:fieldsets/interview/heading }}

        {{ content }}
            
            {{ if type == 'quote' }}
              <div class="mt-80">
                {{ partial:fieldsets/interview/quote }}
              </div>
            {{ /if }}

            {{ if type == 'statistic' }}
              <div class="mt-160">
                {{ partial:fieldsets/statistics/item }}
              </div>
            {{ /if }}

        {{ /content }}
      </div>

      {{# Right column: Q&A content #}}
      <div class="hidden lg:flex lg:flex-col lg:gap-y-36 lg:col-span-7">
        {{ content }}
          {{ if type == 'question_answer' }}
            {{ partial:fieldsets/interview/question }}
          {{ /if }}
        {{ /content }}
      </div>

    {{ /if }}

    {{# ====================== #}}
    {{# Desktop: single layout #}}
    {{# ====================== #}}
    {{ if interview_type != 'group' }}

      <div class="hidden lg:block col-span-full my-8 md:my-12 lg:my-36">
        {{ partial:fieldsets/interview/heading }}
      </div>

      {{ if lead }}
        <div class="hidden lg:block col-span-full lg:col-span-8 lg:col-start-5 mb-36">
          {{ partial:fieldsets/interview/lead }}
        </div>
      {{ /if }}

      {{# Sidebar: quotes/statistics #}}
      <div class="hidden lg:block lg:col-span-4 xl:pr-24">
        {{ content }}
          {{ if type == 'quote' }}
            <div class="mt-80">
              {{ partial:fieldsets/interview/quote }}
            </div>
          {{ /if }}
          {{ if type == 'statistic' }}
            <div class="mt-160">
              {{ partial:fieldsets/statistics/item }}
            </div>
          {{ /if }}
        {{ /content }}
      </div>

      {{# Q&A content #}}
      <div class="hidden lg:flex lg:flex-col lg:gap-y-36 lg:col-span-8">
        {{ if introduction }}
          {{ partial:fieldsets/interview/introduction }}
        {{ /if }}
        {{ content }}
          {{ if type == 'question_answer' }}
            {{ partial:fieldsets/interview/question }}
          {{ /if }}
        {{ /content }}
      </div>

    {{ /if }}

  </div>

{{ /partial:layout/section }}
