<blockquote class="font-bold md:text-[1.25rem] xl:text-[1.5rem]">
  {{ if site:locale == 'fr_CH' }}
    &laquo; {{ quote }} &raquo;
    {{ if author }}
      <span class="text-[1rem] lg:text-[1.25rem] font-normal block mt-2">
        {{ author }}
      </span>
    {{ /if }}
  {{ else }}
    &laquo;{{ quote }}&raquo;
    {{ if author }}
      <span class="text-[1rem] lg:text-[1.25rem] font-normal block mt-2">
        {{ author }}
      </span>
    {{ /if }}
  {{ /if }}
</blockquote>
</blockquote>