<button
  @click="open = !open"
  class="flex items-center justify-between w-full text-left cursor-pointer {{ class }}"
  :aria-expanded="open">

  <span>
    {{ slot }}
  </span>

  <div class="shrink-0">
    <div x-show="!open" class="w-24 h-24 md:w-36 md:h-36 lg:w-48 lg:h-48 flex items-center justify-center">
      {{ partial:components/icons/plus class="text-black" }}
    </div>
    <div x-show="open" x-cloak class="w-24 h-24 md:w-36 md:h-36 lg:w-48 lg:h-48 flex items-center justify-center">
      {{ partial:components/icons/minus class="text-black" }}
    </div>
  </div>

</button>
