<div
  class="relative w-full overflow-visible"
  data-segment="{{ segment }}"
  style="height: 0;">
  <span data-label class="absolute z-10 text-[0.75rem] sm:text-[0.875rem] lg:text-[1rem] font-bold whitespace-nowrap
    left-1/2 -translate-x-1/2 lg:left-full lg:translate-x-0 lg:ml-8 lg:flex
    {{ if segment == 'individual' }} mt-4 lg:mt-0 lg:-top-3 lg:items-start text-white lg:text-crimson{{ /if }}
    {{ if segment == 'partner' }} top-1/2 -translate-y-1/2 md:-translate-y-1/2 lg:translate-y-0 lg:top-0 lg:bottom-0 lg:items-center text-white lg:text-gold{{ /if }}
    {{ if segment == 'active' }} bottom-0 mb-4 lg:mb-0 lg:-bottom-3 lg:items-end text-white lg:text-sky{{ /if }}
  ">{{ value }}</span>
</div>
