{{ if link }}
  <a 
    href="{{ link }}" 
    {{ unless link | starts_with('#') }}
      target="_blank" 
      rel="noopener noreferrer"
    {{ /unless }} 
    aria-label="{{ site:short_locale == 'fr' ? logo:alt_fr : logo:alt_de }}" 
    class="group">
    <img 
      src="{{ logo }}" 
      width="{{ logo:width }}" 
      height="{{ logo:height }}" 
      alt="{{ site:short_locale == 'fr' ? logo:alt_fr : logo:alt_de }}" 
      class="group-hover:scale-105 transition-transform duration-300 {{ class }}">
  </a>
{{ else }}
  <img 
    src="{{ logo }}" 
    width="{{ logo:width }}" 
    height="{{ logo:height }}" 
    alt="{{ site:short_locale == 'fr' ? logo:alt_fr : logo:alt_de }}" 
    class="{{ class }}">
{{ /if }}
