<section data-theme="{{ theme }}">
  
  {{ partial:components/accordion/item :open="open" }}

    {{ partial:components/accordion/button class="accordion-button px-12 lg:px-24 xl:px-36 py-16 md:py-20 lg:py-24" }}

      <span class="text-[1.5rem] md:text-[2.25rem] lg:text-[3.125rem] leading-[1.2]">
        {{ title }}
      </span>

    {{ /partial:components/accordion/button }}

    {{ partial:components/accordion/content class="accordion-content px-12 lg:px-24 xl:px-36 py-16 md:py-24 lg:py-32" }}

      {{ content }}

        {{ if type == 'interview' }}
          {{ partial:fieldsets/interview/container }}
        {{ /if }}

        {{ if type == 'board' }}
          {{ partial:components/board }}
        {{ /if }}

        {{ if type == 'title_text' }}
          {{ partial:fieldsets/title_text sectionClass="px-0!" }}
        {{ /if }}

        {{ if type == 'title_text_sidebar' }}
          {{ partial:fieldsets/title_text_sidebar sectionClass="px-0!" }}
        {{ /if }}

        {{ if type == 'events' }}
          {{ partial:fieldsets/events/container sectionClass="bg-ice mt-24 md:mt-48 lg:mt-72 px-0!" }}
        {{ /if }}

      {{ /content }}

    {{ /partial:components/accordion/content }}

  {{ /partial:components/accordion/item }}
  
</section>
